In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df=pd.read_csv("/home/spydr/Downloads/Corpus/Datasets/hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [4]:
import math
test_score_median=math.floor(df['test_score(out of 10)'].median())
test_score_median

8

In [14]:
df['test_score(out of 10)']=df['test_score(out of 10)'].fillna(test_score_median)
df['test_score(out of 10)']

0     8.0
1     8.0
2     6.0
3    10.0
4     9.0
5     7.0
6     8.0
7     7.0
Name: test_score(out of 10), dtype: float64

In [17]:
df.experience.fillna(1)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [30]:
import word2number
reg=linear_model.LinearRegression()
df['experience'] = df['experience'].apply(lambda x: word2number.word_to_num(x))
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary($)'])

AttributeError: module 'word2number' has no attribute 'word_to_num'

In [28]:
reg.predict('five',9.0,8)

TypeError: LinearModel.predict() takes 2 positional arguments but 4 were given

In [27]:
pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5567 sha256=8dc4df62658f7cbabe6aa1e2b0e0564785d4ad6ae3d4ebc1accff5d9b72a70c6
  Stored in directory: /home/spydr/.cache/pip/wheels/cd/ef/ae/073b491b14d25e2efafcffca9e16b2ee6d114ec5c643ba4f06
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1
Note: you may need to restart the kernel to use updated packages.